@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-display: 'Lexend', sans-serif;
}

body {
  min-height: max(884px, 100dvh);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-text-light dark:text-text-dark;
  }
}

